/*-------------------index.html---------------------- */

.text-home{
    font-size: 20px;
    font-weight: bold;
}

/* --------------------------------------------------- */


/* --------------------about.html--------------------- */

.text-about{
    font-weight: bold ;
    text-align: justify;
}

.list-unstyled{
    font-weight: bold ;
}

/* --------------------------------------------------- */


/* -------------------project.html-------------------- */

.projects{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 30px;
}

.titles{
    text-align: center;
}

.texts{
    font-size: 19px;
    color: black;
    font-weight: bold;
}

.img-responsive{
    border-radius: 8px;
    box-shadow: 7px 7px 7px black;
    margin-bottom: 40px;
}

.MyGH{
    text-decoration: underline;
    color: rgb(62, 51, 206);
}

.MyGH:hover{
    font-size: 22px;
    color: rgb(62, 51, 206);
    transition: 300ms;
}

/* ---------------------------------------------------- */

/* --------------------contact.html-------------------- */

.text-contact{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.row-contact{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.link-like-text{
    text-decoration: underline;
}

.link-like-text:hover{
    color: rgb(62, 51, 206);
    font-size: 30px;
    transition: 300ms;
}

/* ----------------------------------------------------- */